@import './misc/mixins';
@import './misc/normalize';
@import './misc/variables';
@import './partials/footer';
@import './partials/header';
@import './views/home';

body{
    box-sizing: border-box;
    background-image: url("../assets/background.webp");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;

    @media all and (max-width: 1024px) {
        height: auto;
    }
}