@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
    --grey: #575757;
    --pink: #e62e58;
}

body{
    box-sizing: border-box;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
   
}

footer{
    width: 100%;
    bottom: 0;
    margin: 1em 0;
}

section{
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logotipo{
    width: 8em;
    margin: 1em 0;
}
.footer-disclaimer{
    font-family: roboto;
    color: var(--grey);
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.social-icons-container{
    width: 7em;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    transition: transform .5s;
    margin-bottom: .5em;
}

.social-icon:hover{
    transform: rotate(360deg);
    transition: .5s  ease-in-out;
}

.virtual-piano-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: fit-content;
}

.white-keys-container{
    display: flex;
    justify-content: center;
}

.black-keys-container{
    width: 90%;
    top: -1%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.white-key{
    padding: 10px;
    align-items: flex-end;
    justify-content: center;
    width: 55px;
    display: flex;
    height: 320px;
    border-radius: 8px;
    background: white;
    border: 1px solid black;
    transition: transform .5s;
    font-family: oswald;
    font-size: 24px;
    color: white;
}

.white-key:focus{
    background: var(--pink);
    transition: .1s  ease-in-out;
    border: 0px;
}

.white-key:hover{
    cursor: pointer;
   
}

.black-key{
    align-items: flex-end;
    justify-content: center;
    display: flex;
    width: 40px;
    height: 200px;
    border-radius: 8px;
    background: black;
    border: 1px solid black;
    transition: transform .5s;
    font-family: oswald;
    font-size: 14px;
    color: black;
    padding: 5px;
}

.black-key-space{
    width: 35px;
    height: 150px;
    background: none;
    border: none;
}

.black-key:focus{
    color: white;
    background: var(--pink);
    transition: .1s  ease-in-out;
    border: 0px;
}

.black-key:hover{
    cursor: pointer;
   
}

h1{
    color: white;
    font-family: oswald;
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    width: 520px;
}

.subtitle{
    color: white;
    font-family: roboto;
    font-size: 24px;
    line-height: 34px;
    margin: 15px 0;
    width: 520px;
}

.info-container{
    width: fit-content;
}

input{
    font-family: 'Roboto';
    font-size: 14px;
    width: 240px;
    padding: 12px 12px;
    border-radius: 8px;
    color: #9d9d9d;
    border: none;
    outline: none;
}

form{
    display: flex;
    gap: 8px;
}

.cta {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background: var(--pink);
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    transition: .3s;
}

.cta:hover {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-color: rgb(170, 11, 32);
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
}

@media all and (max-width: 1024px) {
    body{
        height: auto;
    }

    .info-container{
       margin-bottom: 30px;
    }

    section{
        flex-direction: column;
    }

    h1 {
        text-align: center;
    }

    .subtitle {
        text-align: center;
    }

    form{
        justify-content: center;
    }
}

@media all and (max-width: 600px) {
    body{
        height: auto;
    }

    section{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .virtual-piano-container {
        display: flex;
        justify-content: center;
        position: relative;
        width: fit-content;
        transform: scale(.85);
    }

    h1 {
        width: 360px;
        font-size: 46px;
        line-height: 56px;
    }

    .subtitle {
        width: 360px;
        font-size: 21px;
        line-height: 31px;
    }

    form {
        width: 360px;
        flex-direction: column;
    }

    input{
        width: auto;
    }
}