footer{
    width: 100%;
    bottom: 0;
    margin: 1em 0;

    .footer-disclaimer{
        font-family: roboto;
        color: $grey;
        font-size: 14px;
        text-align: center;
        margin: 0;
    }

    .social-icons-container{
        width: 7em;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        transition: transform .5s;
        margin-bottom: .5em;

        .social-icon{

            &:hover{
                transform: rotate(360deg);
                transition: .5s  ease-in-out;
            }

        }
    }
}